<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="/js/user.js"></script>
</head>
<body>

  <h1>Handlebars</h1>
  <button>home</button>
  <button onclick="add();">new</button>
  {{#each users as |user|}}
  <div>
    <img src="/profilepics/{{user.username}}_sm.jpg" alt="">
    <a href="/{{user.username}}">{{user.name.full}}</a>
  </div>
  {{/each}}
</body>
</html>
